.instructions {
    font-size: 20px;
    color: #422E5C;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #astronaut {
      position: absolute;
      top: 100px;
      right: 200px;;
  }

#planet {
    position: fixed;
    bottom: 300px;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.game-button {
    width: 150px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    /* border: none; */
    background-color: white;
    color: #422E5C;
}

.input-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    width: 40%;
    border-radius: 15px;
    height: 100%;
}

.level-logo {
    width: 400px;
    height: auto;
}

.next-level-button {
    border-radius: 4px;
    padding: 1em 1em 2.5em 1em;
    margin: 0.5em;
    height: 3.2em;
    background-color: green;
}

.instruction-button {
    position: fixed;
    top: 100px;
    right: 100px;
}

.button-container {
    display: flex;
    
}
